/* SASAPI : SEKATI | FLASH APP STYLE */

/* LINKS */
a, a:link { color:#FFFFFF; text-decoration:none; }
a:active, a:hover { text-decoration:underline; }

a.c, a.c:link { color:#949494; text-decoration:none; }
a.c:active, a.c:hover { color:#FFFFFF; text-decoration:none; }

/* TYPE PRESETS */
.head { font-family:"frutiger"; font-size:11pt; }
.body { font-family:"arial"; font-size:11pt; }
.sub { font-family:"silkscreen"; font-size:8pt; }

/* COLOR PRESETS */
.h, h1, strong { color:#FFFFFF; }
.c, h2 { color:#949494; }
.d, h3 { color:#4D4D4D; }